{{ $dates := .dates }}
{{ $time_slot := .time_slot }}
{{ $layout := .layout }}
{{ if or $dates.computed.short $dates.computed.two_lines.short $time_slot }}
  <div class="event-schedule">
    <p class="event-dates">
      {{ $formated_date := $dates.computed.two_lines.short }}
      {{ with site.Params.events.date_format }}
        {{ $formated_date = time.Format . $dates.from.day }}
        {{ if ne $dates.from.day $dates.to.day }}
          {{ $formated_date = printf "<span>%s</span><span>%s</span>" $formated_date ( time.Format . $dates.to.day ) }}
        {{ end }}
      {{ end }}
      {{ partial "PrepareHTML" $formated_date }}
    </p>
    {{- if $time_slot }}
      {{- $hour := "" -}}
      <p class="event-time">
        {{ with $time_slot.start.time }}
          {{- $hour = . -}}
          {{- with site.Params.events.time_format }}
            {{- $hour = time.Format . (printf "2021-09-01T%s:00" $hour) -}}
          {{ end -}}
          <span>{{- $hour -}}</span>
        {{- end -}}
        {{- with $time_slot.end.time -}}
          {{- $hour = . -}}
          {{- with site.Params.events.time_format -}}
            {{- $hour = time.Format . (printf "2021-09-01T%s:00" $hour) -}}
          {{- end -}}
          <span>{{- $hour -}}</span>
        {{ end -}}
      </p>
    {{ end -}}
  </div>
{{ end }}