.lead
    font-style: italic

#document-footer
    border-top: 1px dashed $color-border

.hero 
    .content
        hgroup
            .artist,
            .dates
                @include h1
            h1 + p
                margin-top: 0
            h1
                font-style: italic
            .dates
                text-align: right
        @include media-breakpoint-up(desktop)
            display: block
            width: col(5)
            hgroup
                width: 100%
                margin-bottom: $spacing1
            figure
                width: 100%
                border: 1px solid rgba(0, 0, 0, 0.1)

.page__home
    .hero
        margin-bottom: $spacing3

.block-chapter--alt_background
    background: none
    .rich-text
        p
            font-size: px2rem(34)
            line-height: 130%
            @include media-breakpoint-down(desktop)
                font-size: px2rem(22)

.menu 
    .nav-level-2
        @include media-breakpoint-up(desktop)
            grid-template-columns: repeat(2, 1fr)
        > li 
            > span
                padding: 0
.breadcrumb-nav
    *
        font-size: px2rem(14)