.lead
    font-style: italic

#document-footer
    border-top: 1px dashed $color-border

.hero 
    .content
        hgroup
            .artist,
            .dates
                @include h1
            h1 + p
                margin-top: 0
            h1
                font-style: italic
            .dates
                @include body-text
                margin-top: $spacing0

.page__home
    .hero
        margin-bottom: $spacing3

.block-chapter
    &--alt_background
        &, .chapter
            background: none !important
        .text
            padding: 0 !important
        .rich-text
            p
                font-size: px2rem(32)
                line-height: 130%
                @include media-breakpoint-down(desktop)
                    font-size: px2rem(22)

.menu 
    .nav-level-2
        @include media-breakpoint-up(desktop)
            grid-template-columns: repeat(2, 1fr)
        > li 
            > span
                padding: 0

.breadcrumb-nav
    *
        font-size: px2rem(14)
