// Events
.events__page,
.exhibitions__page
    .event-access
        .event-slots
            border-top: 0 !important
    .event-sidebar
        > div
            display: flex
            flex-direction: column
        .toc-container
            border-top: none !important
            padding-top: 0 !important
        .events-actions > span
            @include meta
            color: $color-text-alt
        aside
            order: 2
    .hero
        .container 
            .content
                align-items: unset
                @include media-breakpoint-down(desktop)
                    .event-schedule
                        margin-top: $spacing-2
        @include media-breakpoint-up(desktop)
            .content
                gap: var(--grid-gutter)
                .hero-text
                    flex: 1
                figure
                    order: 2
            &--image-portrait,
            &--image-square
                .container
                    .content
                        figure
                            width: columns(3)
            &--image-landscape
                .container
                    .content
                        figure
                            width: columns(6)
        .hero-text
            @include h1
            margin-top: 0
            position: relative
            hgroup
                h1
                    font-style: italic
            .event-schedule
                text-align: right
                .event-time
                    justify-content: flex-end
                    @include media-breakpoint-down(sm)
                        display: block
                        &::before
                            display: none
        @include media-breakpoint-up(desktop)
            .hero-text 
                display: flex
                flex-direction: column
                justify-content: space-between
                position: relative
                hgroup
                    margin-bottom: $spacing-4
            .event-categories
                bottom: 0
                display: flex
                position: absolute
                a
                    text-decoration: none
                    writing-mode: tb
                    transform: rotate(180deg)
        @include media-breakpoint-down(desktop)
            .hero-text
                display: flex
                flex-direction: column
                .event-categories
                    position: relative
                    margin-top: 0
                    order: -1
                    margin-bottom: $spacing-2
    @include media-breakpoint-down(desktop)
        .document-content
            display: flex
            flex-direction: column
            .event-sidebar
                order: 1
            .block-siblings-navigation
                order: 2

    .block-pages--grid
        .grid
            @include grid(1)
        article
            background: $color-accent
            padding: $spacing-3
            width: 100%
            a::after
                display: none
            .page-title, p
                @include h2
            p
                font-style: italic
            .media 
                filter: grayscale(1)
                mix-blend-mode: multiply
            &:hover .media
                filter: grayscale(0)
        &.with-images
            article
                @include media-breakpoint-up(md)
                    @include grid(2)
                    .media
                        margin: 0
                        width: calc(#{columns(3)} - #{$spacing-3})
                    hgroup,
                    .page-title
                        grid-column: 2 / 8
    .lead 
        font-family: $lead-font-family
    .event-parent
        .event
            .event-content
                display: flex
                flex-direction: column
            .event-title,
            .event-subtitle
                @include h2
                color: var(--color-text)
            .event-title
                font-style: italic
            .event-schedule
                @include h2
                margin-top: auto
            .more
                font-size: inherit
                line-height: inherit
                &::after
                    @include icon-site(arrow-top)
                    font-size: pxToRem(18)
                    padding-left: $spacing-1
            .media img
                aspect-ratio: 1
                object-fit: cover
            .event-categories
                background-color: $color-accent
                display: flex
                height: 100%
                margin: 0
                padding: $spacing-1
        @include media-breakpoint-down(desktop)
            .event--with-image
                .event-content
                    > hgroup,
                    > .event-title
                        margin-bottom: $spacing-3
                .media,
                .event-categories
                    margin-left: var(--grid-gutter-negative) !important
                    margin-right: var(--grid-gutter-negative) !important
                .event-categories
                    margin-top: var(--grid-gutter-negative) !important
                    order: -1
                .event-title
                    margin-top: $spacing-3
        @include media-breakpoint-up(desktop)
            .event,
            .event-parent__title
                padding-left: offset(4)
            .event-schedule,
            .more
                text-align: right
            .event--with-image
                .event-categories
                    margin-left: var(--grid-gutter-negative)
                    padding: $spacing-2 $spacing-1
                    position: absolute
                    top: 0
                    transform: translateX(-100%)
                    writing-mode: sideways-lr
                    li
                        writing-mode: tb
                        transform: rotate(180deg)
                        a
                            text-decoration: none
                .media
                    width: columns(5)
                    order: -1
    // FIX SAFARI GAP
    @supports not (background: -webkit-named-image(i))
        .event-infos
            .events-actions
                * + *
                    margin-top: space()
    
                

.events__section
    --dropdown-hover-color: var(--color-text)
    &.full-width
        @include media-breakpoint-up(desktop)
            .events--list
                .event
                    &-content
                        > .event-title, > hgroup, .event-description, .event-categories, .event-status
                            grid-column: 4 / 10
                        > .event-schedule
                            grid-column: 1 / 4
                            grid-row: 1 / 4
    .event--with-image
        .media
            img
                aspect-ratio: 1
                object-fit: cover

    .events-calendar
        .calendar-month
            caption a
                @include link($color-text)
                font-weight: normal
            tbody
                td
                    a
                        color: $color-text
                    a:hover
                        color: var(--color-background)