{{- $direction := "" -}}
{{- $image := .Params.image -}}
{{ if $image }}
  {{- $direction = partial "GetImageDirection" $image -}}
{{ end }}

<header class="hero {{ if $image -}}hero--with-image hero--image-{{- $direction -}}{{- end }}">
  <div class="container">
    {{ partial "header/breadcrumbs.html" . }}

    <div class="content">
      <hgroup>
        {{ with .Params.header_text }}
          <p class="artist">{{ partial "PrepareHTML" . }}</p>
        {{ end }}
        <h1>{{ partial "PrepareHTML" .Title }}</h1>
      </hgroup>
      {{ if $image }}
        <figure>
          {{ if not site.Params.image_sizes.design_system.lightbox.disabled }}
            <a  class="glightbox"
                role="button"
                data-glightbox="type: image;{{ if $image.credit }}description: {{ partial "PrepareHTML" $image.credit }}{{ end }}"
                href="{{ partial "GetLightboxUrl" $image }}"
                title="{{- i18n "commons.lightbox.link.title" -}}"
                aria-label="{{- i18n "commons.lightbox.link.title" -}}">
          {{ end }}
            {{ partial "commons/image.html"
              (dict
                "image"    $image
                "sizes"    ( default site.Params.image_sizes.design_system.hero )
                "lazy"     false
              ) }}
          {{ if not site.Params.image_sizes.design_system.lightbox.disabled }}
            </a>
          {{ end }}
            {{ if partial "GetTextFromHTML" $image.credit }}
              <figcaption tabindex="0">
                <div class="credit-content">
                  {{- partial "PrepareHTML" $image.credit -}}
                </div>
              </figcaption>
            {{ end }}
        </figure>
      {{ end }}
    </div>
  </div>
</header>
